<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhJMXyvdBm63ZT06RHUTDNXF7Ja-2Bih0</string>
	<key>GCM_SENDER_ID</key>
	<string>727731161524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fridge</string>
	<key>PROJECT_ID</key>
	<string>fridge-app-89c74</string>
	<key>STORAGE_BUCKET</key>
	<string>fridge-app-89c74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727731161524:ios:56d2d9f013d8a8dba78ae1</string>
</dict>
</plist>